<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>canvas 图片合并测试</title>
</head>
<body>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script>
    var partList = [
        ['/static/panorama/img/merge/test_01.jpg', '/static/panorama/img/merge/test_02.jpg', '/static/panorama/img/merge/test_03.jpg', '/static/panorama/img/merge/test_04.jpg', '/static/panorama/img/merge/test_05.jpg'],
        ['/static/panorama/img/merge/test_06.jpg', '/static/panorama/img/merge/test_07.jpg', '/static/panorama/img/merge/test_08.jpg', '/static/panorama/img/merge/test_09.jpg', '/static/panorama/img/merge/test_10.jpg'],
        ['/static/panorama/img/merge/test_11.jpg', '/static/panorama/img/merge/test_12.jpg', '/static/panorama/img/merge/test_13.jpg', '/static/panorama/img/merge/test_14.jpg', '/static/panorama/img/merge/test_15.jpg']
    ];
    var imgWidth = 6144;  // 完整图片宽
    var imgHeight = 3072;  // 完整图片高
    var partWidth = 1229;  // 切图宽
    var partHeight = 1024;  // 切图高

    var column = partList[0].length;  // 列数
    var row = partList.length;  // 行数

    var canvas = document.createElement("canvas");
    canvas.width = imgWidth;
    canvas.height = imgHeight;
    document.body.appendChild(canvas);
    var ctx = canvas.getContext("2d");
    for (var i = 0; i < row; i++) {
        for (var j = 0; j < column; j++) {
            var imgObj = new Image();
            imgObj.src = partList[i][j];
            (function (imgObj, i, j) {
                imgObj.onload = function () {
                    ctx.drawImage(imgObj, j * partWidth, i * partHeight);
                };
            })(imgObj, i, j);
        }
    }


</script>
</body>
</html>