{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>场景编辑</title>
    <link rel="stylesheet" type="text/css" href="{% static 'panorama/css/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'panorama/css/edit.css' %}"/>
</head>

<body>
<div id="mask"></div>
<div id="loading">
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<img src="{% static 'panorama/img/play.png' %}" id="play-btn">
<div id="edit-sidebar">
    <div id="name-bar">
        <div style="float:left;margin-top:12px;margin-left:20px;"><img src="{% static 'panorama/img/icon/logo.png' %}">
        </div>
    </div>
    <div id="option-bar">
        <div id="add-space">&nbsp;&nbsp;&nbsp;添加空间</div>
        <div style="float:right;width:194px">
            <div class="option-ele">
                <span id="edit-info">编辑信息</span>
            </div>
            <div class="option-ele">
                <span id="save-as">保存</span>
            </div>
            <div class="option-ele">
                <span id="preview">预览</span>
                <div id="qr-code">
                    <span class="qr-text" style="margin-top:20px;">微信扫一扫 查看全景图</span>
                    <div>
                        <canvas id="qr-canvas" title="扫码浏览"></canvas>
                    </div>
                    <a href="#" id="view-link" target="_blank">点击打开全景图</a>
                </div>
            </div>
        </div>
    </div>

    <ul id="space-bar"></ul>
</div>

<!-- 热点编辑面板 -->
<div id="edit-panel">
    <div class="panel-header" id="cancel-edit" title="退出编辑">&gt;&gt;</div>
    <div class="panel-body">
        <label for="input-hot-id">热点编号：</label>
        <input type="text" value="" id="input-hot-id" disabled="disabled">
        <label for="input-hot-title">标题：</label>
        <input type="text" value="" id="input-hot-title">
        <label for="input-hot-to">跳转至：</label>
        <select id="input-hot-to"></select>
        <label for="input-opacity">透明度：</label>
        <div class="range">
            <i>-</i>
            <input type="range" min="0.3" max="0.8" step="0.01" data-default="0.5" value="0.5" id="input-opacity"/>
            <i>+</i>
        </div>
        <fieldset>
            <legend>旋转</legend>
            <label for="input-rotation-x">x轴：</label>
            <div class="range">
                <i>-</i>
                <input type="range" min="-1.5" max="1.5" step="0.005" data-default="0" value="0" id="input-rotation-x"/>
                <i>+</i>
            </div>
            <label for="input-rotation-y">y轴：</label>
            <div class="range">
                <i>-</i>
                <input type="range" min="-1.5" max="1.5" step="0.005" data-default="0" value="0" id="input-rotation-y"/>
                <i>+</i>
            </div>
            <label for="input-rotation-z">z轴：</label>
            <div class="range">
                <i>-</i>
                <input type="range" min="-1.5" max="1.5" step="0.005" data-default="0" value="0" id="input-rotation-z"/>
                <i>+</i>
            </div>
        </fieldset>
        <fieldset>
            <legend>平移</legend>
            <label for="input-position-x">x轴：</label>
            <div class="range">
                <i>-</i>
                <input type="range" min="0" max="80" step="1" data-default="0" value="0" id="input-position-x"/>
                <i>+</i>
            </div>
            <label for="input-position-y">y轴：</label>
            <div class="range">
                <i>-</i>
                <input type="range" min="0" max="80" step="1" data-default="0" value="0" id="input-position-y"/>
                <i>+</i>
            </div>
            <label for="input-position-z">z轴：</label>
            <div class="range">
                <i>-</i>
                <input type="range" min="0" max="80" step="1" data-default="0" value="0" id="input-position-z"/>
                <i>+</i>
            </div>
        </fieldset>
    </div>
    <div class="panel-footer">
        <button id="delete-hot-btn">删除热点</button>
        <button id="save-hot-info">保存</button>
        <button id="reset-hot-info">重置</button>
    </div>
</div>

<ul id="more-panel">
    <li id="pick-hot">
        <svg
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 200 200"
                version="1.1">
            <path d="m 62.5,31.433332 c 0,-13.7632 -11.2,-24.9333336 -25,-24.9333336 -13.8,0 -25,11.1701336 -25,24.9333336 0,13.7632 11.2,24.933334 25,24.933334 13.8,0 25,-11.170134 25,-24.933334 z m 43.75,12.466667 c 10.35,0 18.75,-8.3776 18.75,-18.7 0,-10.3224 -8.4,-18.7000006 -18.75,-18.7000006 -10.35,0 -18.75,8.3776006 -18.75,18.7000006 0,10.3224 8.4,18.7 18.75,18.7 z m 62.5,-24.933334 c -10.35,0 -18.75,8.3776 -18.75,18.700001 0,10.3224 8.4,18.7 18.75,18.7 10.35,0 18.75,-8.3776 18.75,-18.7 0,-10.322401 -8.4,-18.700001 -18.75,-18.700001 z M 104.9,56.603533 C 89.85,56.366666 72.725,58.685466 59.0125,70.803066 45.2875,82.920666 47,113.18973 66.4,121.33047 c 19.4125,8.12826 23.6875,22.19066 18.4875,39.69386 -5.2,17.5032 3.675,32.47567 25.8625,32.47567 38.25,0 51.75,-35.74193 51.75,-75.78487 0,-43.546064 -17.1625,-60.500731 -57.6,-61.111597 z"/>
        </svg>
    </li>
    <li id="transform-hot">
        <svg
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 200 200"
                version="1.1">
            {#            <path d="m 62.5,31.433332 c 0,-13.7632 -11.2,-24.9333336 -25,-24.9333336 -13.8,0 -25,11.1701336 -25,24.9333336 0,13.7632 11.2,24.933334 25,24.933334 13.8,0 25,-11.170134 25,-24.933334 z m 43.75,12.466667 c 10.35,0 18.75,-8.3776 18.75,-18.7 0,-10.3224 -8.4,-18.7000006 -18.75,-18.7000006 -10.35,0 -18.75,8.3776006 -18.75,18.7000006 0,10.3224 8.4,18.7 18.75,18.7 z m 62.5,-24.933334 c -10.35,0 -18.75,8.3776 -18.75,18.700001 0,10.3224 8.4,18.7 18.75,18.7 10.35,0 18.75,-8.3776 18.75,-18.7 0,-10.322401 -8.4,-18.700001 -18.75,-18.700001 z M 104.9,56.603533 C 89.85,56.366666 72.725,58.685466 59.0125,70.803066 45.2875,82.920666 47,113.18973 66.4,121.33047 c 19.4125,8.12826 23.6875,22.19066 18.4875,39.69386 -5.2,17.5032 3.675,32.47567 25.8625,32.47567 38.25,0 51.75,-35.74193 51.75,-75.78487 0,-43.546064 -17.1625,-60.500731 -57.6,-61.111597 z"/>#}
            <path d="m 65.425044,89.474432 c 0,0 -20.634427,-19.107663 -4.15208,-48.296196 16.482271,-29.194127 102.630356,-0.853492 116.239226,37.793974 3.2257,-42.571822 6.87799,-77.6946394 6.87799,-77.6946394 0,0 -57.05637,7.0367104 -103.424771,0 C 50.505792,4.6621682 55.389368,6.1431253 46.069438,13.34486 38.196673,20.890829 36.31271,29.872736 34.291823,44.170318 73.145211,184.06835 15.60982,198.68339 15.60982,198.68339 c 0,0 53.925312,-0.70032 62.261194,0 16.650616,2.10097 -8.399019,-81.29853 -8.399019,-81.29853 0,0 27.954476,-38.717393 83.116605,14.08973 6.66211,-19.50224 9.29339,-27.17174 2.08417,-50.395689 -14.19293,-1.597567 -89.247726,8.395531 -89.247726,8.395531 z"/>
        </svg>
    </li>
</ul>

<svg id="more-btn"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 200 200"
     version="1.1">
    <path d="m 12.5,12.5 35,0 0,35 -35,0 0,-35 z m 52.5,0 122.5,0 0,35 -122.5,0 0,-35 z m -52.5,70 35,0 0,35 -35,0 0,-35 z m 52.5,0 122.5,0 0,35 -122.5,0 0,-35 z m -52.5,70 35,0 0,35 -35,0 0,-35 z m 52.5,0 122.5,0 0,35 -122.5,0 0,-35 z"/>
</svg>

<!--编辑商家信息-->
<div class="dialog" id="edit-seller-dialog">
    <div class="dialog-title">
        <div class="dialog-name">编辑信息</div>
        <div class="dialog-close">×</div>
    </div>
    <form action="{% url 'update_seller' %}" enctype="multipart/form-data" method="post" target="upload_iframe">
        <div class="dialog-ele" style="margin-top:60px;">
            <div class="dialog-ele-title">商家logo:</div>
            <div class="dialog-ele-content">
                <label for="logo-input" id="upload-pic" class="btn">重新上传</label>
                <input type="file" id="logo-input" name="logo" accept="image/gif, image/jpeg, image/png"
                       style="display: none">
            </div>
        </div>
        <div class="dialog-ele" id="dialog-img-ele" style="height:110px;">
            <div class="dialog-ele-title"></div>
            <div class="dialog-ele-content" style="height:110px;">
                <img id="seller-logo" src=""/>
            </div>
        </div>
        <div class="dialog-ele" style="">
            <div class="dialog-ele-title">商家名称:</div>
            <div class="dialog-ele-content">
                <input type="text" id="seller-name" name="name" placeholder="限制10个字" value="" maxlength="10"/>
            </div>
        </div>
        <div class="dialog-ele" style="height:130px;">
            <div class="dialog-ele-title">商家介绍:</div>
            <div class="dialog-ele-content" style="height:120px;margin-top:10px;">
                <textarea id="seller-desc" name="desc" placeholder="输入商家介绍，限制60字" maxlength="60"></textarea>
            </div>
        </div>
        <input type="hidden" id="seller_id" name="seller_id" value="">
        <input type="hidden" name="cb" value="getResultStr">
    </form>
    <div class="dialog-operation" style="margin:50px auto 50px 220px;">
        <a class="btn dialog-cancel">取消</a>
        <a class="btn dialog-confirm">确定</a>
    </div>
</div>
<iframe id="upload_iframe" name="upload_iframe" src="" style="display: none;"></iframe>

<!--另存为-->
<div class="dialog" id="save-as-dialog">
    <div class="dialog-title">
        <div class="dialog-name">保存为</div>
        <div class="dialog-close">×</div>
    </div>
    <div class="dialog-ele" style="margin-top:70px;">
        <input type="text" id="scene-title" placeholder="输入全景图名称，限制10个字" value="" maxlength="10"/>
    </div>
    <div class="dialog-operation" style="margin:50px auto 60px 115px;">
        <a class="btn dialog-cancel">取消</a>
        <a class="btn dialog-confirm">确定</a>
    </div>

</div>

<!--添加空间-->
<div class="dialog" id="add-space-dialog">
    <div class="dialog-title">
        <div class="dialog-name">添加空间</div>
        <div class="dialog-close">×</div>
    </div>
    <div id="spaces-container"></div>
    <div class="dialog-operation" style="margin:40px auto 20px 275px;">
        <a class="btn dialog-cancel">取消</a>
        <a class="btn dialog-confirm">确定</a>
    </div>
</div>

<span id="hot-title"></span>

<div id="context-menu">
    <ul>
        <li id="add-hot">在此处添加热点</li>
        <li class="disabled">修改此热点</li>
        <li class="disabled">删除此热点</li>
    </ul>
</div>

<!-- 添加热点对话框 -->
<div id="add-hot-dialog">
    <div class="header">选择目标场景:<i>×</i></div>
    <div class="body">
        <select title=""></select>
        <input type="text" placeholder="热点标题">
    </div>
    <div class="footer">
        <button class="add-btn">添加</button>
        <button class="redo-btn">重新选择</button>
    </div>
</div>

<!-- 编辑热点对话框 -->
<div id="edit-hot-dialog">
    <div class="header">编辑热点:<i>×</i></div>
    <div class="body">
        <label>
            跳转至：
            <select title=""></select>
        </label>
        <br>
        <label>
            描述：
            <input type="text" name="title">
        </label>
    </div>
    <div class="footer">
        <button class="btn del-btn">删除</button>
        <button class="btn update-btn">更新</button>
    </div>
</div>

<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'panorama/lib/jquery_2_2_4.min.js' %}"><\/script>')</script>
<script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>$.easing.easeInOutQuad || document.write('<script src="{% static 'panorama/lib/jquery.easing_1_3.min.js' %}"><\/script>')</script>
<script src="{% static 'panorama/lib/jquery-ui.min.js' %}"></script>
<script src="{% static 'panorama/lib/three.js/stats.min.js' %}"></script>
<script src="{% static 'panorama/lib/three.js/three.js' %}"></script>
<script src="{% static 'panorama/lib/three.js/StereoEffect.js' %}"></script>
<script src="{% static 'panorama/lib/three.js/DeviceOrientationControls.js' %}"></script>
<script src="{% static 'panorama/lib/three.js/OrbitControls.js' %}"></script>
<script src="{% static 'panorama/lib/tweenjs/Tween.js' %}"></script>
<script src="{% static 'panorama/lib/qrcode.min.js' %}"></script>
<script src="{% static 'panorama/js/polyfill.js' %}"></script>
<script src="{% static 'panorama/js/utils.js' %}"></script>
<script src="{% static 'panorama/js/vray.scene.js' %}"></script>
<script src="{% static 'panorama/js/edit.js' %}"></script>
</body>
</html>