{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="landscape">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="landscape">

    <title>全景漫屏</title>
    <link rel="stylesheet" type="text/css" href="{% static 'panorama/css/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'panorama/css/view.css' %}"/>
</head>
<body>
<div id="mask" class="show"></div>
<div id="loading" class="show">
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div id="main">
    <img src="{% static 'panorama/img/play.png' %}" id="play-btn">
    <div class="dialog seller-info">
        <div class="header">
            <span class="title">商家信息</span>
            <i class="close-btn">×</i>
        </div>
        <div class="body">
            <img id="seller-logo" src="">
            <div id="seller-name">萧山建材城</div>
            <table>
                <tr>
                    <th>电话：</th>
                    <td id="seller-phone">0571-67652213</td>
                </tr>
                <tr>
                    <th>地址：</th>
                    <td id="seller-address">杭州市萧山区启迪路198号杭州湾信息港杭州市萧山区杭州市萧山区启迪路198号杭州湾信息港杭州市萧山区</td>
                </tr>
            </table>
        </div>
        <div class="footer">技术支持：场景大师</div>
    </div>

    <div id="nav">
        <!-- 操作面板 -->
        <div id="left-btn"></div>
        <div id="right-btn"></div>
        <div id="gallery">
            <div>
                <ul></ul>
            </div>
        </div>
        <div id="opera-panel-PC">
            <div style="float:left;">
                <div id="fullBtn" class="opeBtn fullBtn"></div>
                <div class="opeBtn infoBtn"></div>

            </div>
            <div style="float:right;">
                <div class="opeBtn hideBtn"></div>
            </div>
        </div>
        <div id="opera-panel-mobile">
            <div class="opeBtn" id="walk-mode"></div>
            <div class="opeBtn" id="vr-open"></div>
            <div class="opeBtn infoBtn"></div>
            <div class="opeBtn hideBtn"></div>
        </div>
    </div>
    <div id="miniNav">
        <div id="showNav"></div>
    </div>
    <div class="opeBtn" id="vr-close">退出VR</div>
    <!--<div class="opeBtn" id="vrSetting">VR设置</div>-->
    <div id="rotateMobile"></div>
    <script src="{% static 'panorama/lib/three.js/Detector.js' %}"></script>
    <div id="cross" class="cross">+</div>
    <div id="double-cross">
        <div class="cross">+</div>
        <div class="cross">+</div>
    </div>
</div>

<!-- 警告对话框 -->
<div class="dialog alert">
    <div class="header">
        <span class="title">商家信息</span>
        <i class="close-btn">×</i>
    </div>
    <div class="body"></div>
</div>

<script>
    if (!Detector.webgl) {
        Detector.addGetWebGLMessage();
        throw '浏览器不支持WebGL';
    }
</script>
<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/lib/jquery_2_2_4.min.js"><\/script>')</script>
<script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>$.easing.easeInOutQuad || document.write('<script src="/lib/jquery.easing_1_3.min.js"><\/script>')</script>
<script src="{% static 'panorama/lib/three.js/stats.min.js' %}"></script>
<script src="{% static 'panorama/lib/three.js/three.js' %}"></script>
<script src="{% static 'panorama/lib/three.js/StereoEffect.js' %}"></script>
<script src="{% static 'panorama/lib/three.js/DeviceOrientationControls.js' %}"></script>
<script src="{% static 'panorama/lib/three.js/OrbitControls.js' %}"></script>
<script src="{% static 'panorama/lib/tweenjs/Tween.js' %}"></script>
<script src="{% static 'panorama/lib/bezierEasing.js' %}"></script>
<script src="{% static 'panorama/js/utils.js' %}"></script>
<!-- 横向滚动 -->
<script src="{% static 'panorama/lib/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'panorama/js/vray.scene.js' %}"></script>
<script src="{% static 'panorama/js/view.js' %}"></script>
</body>
</html>