{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>全景漫屏</title>
    <link rel="stylesheet" type="text/css" href="http://res1.justeasy.cn/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'panorama/css/vr_index.css' %}"/>
</head>
<body>
<div class="public-header">
    <div class="header" id="header">
        <div class="m">
            <div class="header-left fl">
                <div class="logo fl">
                    <a href="/">
                        全景图
                    </a>
                </div>
                <div class="nav fl">
                    <ul id="actives">
                        <li>
                            <a href="/">
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                全景效果图
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                全景设计案例
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                摄影作品
                            </a>
                        </li>
                        <li id="has-sub">
                            <a href="#">
                                实景图
                            </a>
                            <ul>
                                <li>
                                    <a href="#">水电存档</a>
                                </li>
                                <li>
                                    <a href="">完工案例</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                装修公司
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-right fr">
                <div class="search-icon fl" id="search-icon">
                    <i class="icon icon-search">

                    </i>
                </div>
                <div class="loginbox fl">
                    <div class="nologin none" id="nologin" style="display: block;">
                        <a class="nologins"
                           href="#">登录</a>
                        <a href="#">注册</a>
                    </div>
                    <div class="logined none" id="haslogin">
                        <a href="#" id="loginss">
                        </a>
                        <div class="user-list">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-gear"></i>
                                        账号设置
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fa fa-envelope"></i>
                                        个人中心
                                    </a>
                                </li>
                                <li id="gogo">
                                    <a href="javascript:void(0);" target="_blank">
                                        <i class="fa fa-user"></i>
                                        个人主页
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-power-off"></i>
                                        退出登录
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="line fl">
						|
					</span>
                <div class="header-links fl" style="height:70px;line-height:70px;">
                    <ul>
                        <li class="submenu">
                            网站导航
                            <span class="angle">
								<i class="fa fa-angle-down"></i>
							</span>
                            <div class="show-list">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank">
                                            惟锐首页
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            图书商城
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           target="_blank">
                                            全景模型下载
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="top-btn fl">
                    <a href="#"
                       class="btn btn-org"> 全景发布
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="banner_tabs" class="flexslider"
     style="background: url('http://big.justeasy.cn/mall/201701/20170113135809_58786c7117c09.jpg') center">
</div>
<div class="index-title red">
    <span style="left:31%;">全景效果图</span>
</div>
<input type="hidden" id="tmp1" value="0">
<input type="hidden" id="tmp2" value="0">
<input type="hidden" id="tmp3" value="0">
<input type="hidden" id="small1" value="0">
<input type="hidden" id="small2" value="0">
<input type="hidden" id="small3" value="0">
<div class="menu m red-active" value="1">
    <ul class="m-left m_left1">
        <li class="active">精品推荐</li>
        <li>最新作品</li>
    </ul>
    <ul class="submenu submenu1">
        <li value="619">
            <a href="javascript:void(0);">家装</a>
        </li>
        <li value="620">
            <a href="javascript:void(0);">样板房</a>
        </li>
        <li value="621">
            <a href="javascript:void(0);">别墅</a>
        </li>
        <li value="622">
            <a href="javascript:void(0);">酒店</a>
        </li>
        <li value="623">
            <a href="javascript:void(0);">餐饮</a>
        </li>
        <li value="624">
            <a href="javascript:void(0);">商业空间</a>
        </li>
        <li value="625">
            <a href="javascript:void(0);">公共空间</a>
        </li>
        <li value="626">
            <a href="javascript:void(0);">其他</a>
        </li>
    </ul>
    <div class="more">
        <a href="javascript:void(0);" onclick="gotoUrl(1);">
            更多 >
        </a>
    </div>
</div>
<div class="picture m">
    <ul id="vr1">
        <li>
            <div class="pic">
                <a href="http://pano.panocooker.com/wr/view?id=267893&UI=64&TS=1484555843&access_token=a37e9512219091fe63095b5a6c50cff9" target="_blank">
                    <img src="{% static 'panorama/img/vr_index/000.png' %}"
                         width="385" alt="北城天骄3#12-4韩女士雅居效果图" title="北城天骄3#12-4韩女士雅居效果图"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="北城天骄3#12-4韩女士雅居效果图" target="_blank">
                    北城天骄3#12-4韩女士雅居效果图 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        620
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        15
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="javascript:void(0);" title="全景图个人头像">
                            <img src="http://res1.justeasy.cn/images/defaulthead.jpg" alt="全景个人头像" title="全景个人头像">
                        </a></div>
                    <div class="name fl" style="color:#999;">fengxiaotian000</div>
                </div>
            </div>
        </li>
        <li>
            <div class="pic">
                <a href="http://pano.panocooker.com/wr/view?id=267894&UI=64&TS=1484555921&access_token=28793eabaa00143f85e68f34edf8f3ec" target="_blank">
                    <img src="{% static 'panorama/img/vr_index/001.png' %}"
                         width="385" alt="新中式卧室" title="新中式卧室"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="新中式卧室" target="_blank">
                    新中式卧室 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        389
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        8
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" title="全景图个人头像" target="_blank">
                            <img src="http://big.justeasy.cn/avatar/201701/886668_587853f31efb2_150.jpg" alt="全景个人头像"
                                 title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" title="郭志勋" class="name fl" target="_blank">
                        郭志勋 </a>
                </div>
            </div>
        </li>
        <li class="no-margin">
            <div class="pic">
                <a href="http://pano.panocooker.com/wr/view?id=267895&UI=64&TS=1484555959&access_token=13ef8c21684999adf366ea5cdc6b73de" target="_blank">
                    <img src="{% static 'panorama/img/vr_index/002.png' %}"
                         width="385" alt="后现代 全景表现A-042" title="后现代 全景表现A-042"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="后现代 全景表现A-042" target="_blank">
                    后现代 全景表现A-042 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        345
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        8
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" title="全景图个人头像" target="_blank">
                            <img src="http://big.justeasy.cn/avatar/201701/755589_586b658ea2a5f_150.jpg" alt="全景个人头像"
                                 title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" title="VR 威亚■ 效果图 施工图" class="name fl"
                       target="_blank">
                        VR 威亚■ 效果图 施工图 </a>
                </div>
            </div>
        </li>
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20170112/fc88dfaa3c9f7ec97d0f614965e9d442/20170112160010_5877378b29751.tiles/thumb.jpg"
                         width="385" alt="七月咖啡馆" title="七月咖啡馆"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="七月咖啡馆" target="_blank">
                    七月咖啡馆 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        1157
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        135
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" title="全景图个人头像" target="_blank">
                            <img src="http://big.justeasy.cn/avatar/201612/875023_5848fecaaf6b0_150.jpg" alt="全景个人头像"
                                 title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" title="DY三维效果图设计机构" class="name fl"
                       target="_blank">
                        DY三维效果图设计机构 </a>
                </div>
            </div>
        </li>
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20170112/c99d242e3af64db8e39f5c38fabf36a5/20170112124555_58770a0391a95.tiles/thumb.jpg"
                         width="385" alt="《现代中式：雅韵》（主创设计师：潘志波）" title="《现代中式：雅韵》（主创设计师：潘志波）"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="《现代中式：雅韵》（主创设计师：潘志波）" target="_blank">
                    《现代中式：雅韵》（主创设计师：潘志波） </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        578
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        24
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="javascript:void(0);" title="全景图个人头像">
                            <img src="http://q.qlogo.cn/qqapp/100281053/A0D5FA90E6A464A8811B841DDD1A6C18/100"
                                 alt="全景个人头像" title="全景个人头像">
                        </a></div>
                    <div class="name fl" style="color:#999;">轩诚图文</div>
                </div>
            </div>
        </li>
        <li class="no-margin">
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20170112/475d5b51fe8fef6a3688ac607c989cc2/20170112141026_58771dd2d612f.tiles/thumb.jpg"
                         width="385" alt="协信星都汇杨先生（冉赟作品）" title="协信星都汇杨先生（冉赟作品）"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="协信星都汇杨先生（冉赟作品）" target="_blank">
                    协信星都汇杨先生（冉赟作品） </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        332
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        35
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="javascript:void(0);" title="全景图个人头像">
                            <img src="http://res1.justeasy.cn/images/defaulthead.jpg" alt="全景个人头像" title="全景个人头像">
                        </a></div>
                    <div class="name fl" style="color:#999;">jgq88168</div>
                </div>
            </div>
        </li>
    </ul>
</div>


<div class="index-title org">
    <span>全景设计案例</span>
</div>
<div class="menu m org-active">
    <ul class="m-left m_left2">
        <li class="active">精品推荐</li>
        <li>最新作品</li>
    </ul>
    <ul class="submenu submenu2">
        <li value="627">
            <a href="javascript:void(0);" title="家装">家装</a>
        </li>
        <li value="628">
            <a href="javascript:void(0);" title="样板房">样板房</a>
        </li>
        <li value="629">
            <a href="javascript:void(0);" title="室外建筑">室外建筑</a>
        </li>
        <li value="630">
            <a href="javascript:void(0);" title="别墅">别墅</a>
        </li>
        <li value="631">
            <a href="javascript:void(0);" title="酒店">酒店</a>
        </li>
        <li value="632">
            <a href="javascript:void(0);" title="餐饮">餐饮</a>
        </li>
        <li value="633">
            <a href="javascript:void(0);" title="商业空间">商业空间</a>
        </li>
        <li value="634">
            <a href="javascript:void(0);" title="公共空间">公共空间</a>
        </li>
        <li value="635">
            <a href="javascript:void(0);" title="其他">其他</a>
        </li>
    </ul>
    <div class="more">
        <a href="javascript:void(0);" onclick="gotoUrl(2);">
            更多 >
        </a>
    </div>
</div>
<div class="picture m">
    <ul id="vr2">
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20170108/090c18486c4e7589d9dd90195d432e28/20170108182403_587213434e169.tiles/thumb.jpg"
                         width="385" alt="东方闲适大宅－刘先生百丈暨别墅项目" title="东方闲适大宅－刘先生百丈暨别墅项目"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="东方闲适大宅－刘先生百丈暨别墅项目" target="_blank">
                    东方闲适大宅－刘先生百丈暨别墅项目 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        1134
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        18
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" title="全景图个人头像" target="_blank">
                            <img src="http://res1.justeasy.cn/images/defaulthead.jpg" alt="全景个人头像" title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" title="Aiske" class="name fl" target="_blank">
                        Aiske </a>
                </div>
            </div>
        </li>
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20161231/597d8e5db4628b9f066d32b0d7512f56/20161231183530_586789f2b2f72.tiles/thumb.jpg"
                         width="385" alt="贵州易林物流有限公司（金阳）" title="贵州易林物流有限公司（金阳）"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="贵州易林物流有限公司（金阳）" target="_blank">
                    贵州易林物流有限公司（金阳） </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        1125
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        28
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="javascript:void(0);" title="全景图个人头像">
                            <img src="http://q.qlogo.cn/qqapp/100281053/14FFF493DFA8C8836E4F3198CAA0DBE7/100"
                                 alt="全景个人头像" title="全景个人头像">
                        </a></div>
                    <div class="name fl" style="color:#999;">X-Box℡ 小白视觉空间设计机构</div>
                </div>
            </div>
        </li>
        <li class="no-margin">
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20161227/b4c82d25032f63f25c4dd0e3082e1f9f/20161227154311_58621b8f62eb7.tiles/thumb.jpg"
                         width="385" alt="【柏赫設計】罗溪别墅起居室" title="【柏赫設計】罗溪别墅起居室"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="【柏赫設計】罗溪别墅起居室" target="_blank">
                    【柏赫設計】罗溪别墅起居室 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        2494
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        32
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" title="全景图个人头像" target="_blank">
                            <img src="http://big.justeasy.cn/avatar/201612/705278_585b767987646_150.jpg" alt="全景个人头像"
                                 title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" title="柏赫(泉州)装饰设计工程有限公司" class="name fl"
                       target="_blank">
                        柏赫(泉州)装饰设计工程有限公司 </a>
                </div>
            </div>
        </li>
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20161225/7d9a9a0f76638a5e476ead0bad50220e/20161225010619_585eab0b65772.tiles/thumb.jpg"
                         width="385" alt="上东曼哈顿陈总雅居" title="上东曼哈顿陈总雅居"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="上东曼哈顿陈总雅居" target="_blank">
                    上东曼哈顿陈总雅居 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        1825
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        9
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" title="全景图个人头像" target="_blank">
                            <img src="http://big.justeasy.cn/avatar/201610/868239_580c98a218222_150.jpg" alt="全景个人头像"
                                 title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" title="广州英泰装饰宁德分公司" class="name fl"
                       target="_blank">
                        广州英泰装饰宁德分公司 </a>
                </div>
            </div>
        </li>
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20161221/8a39d175864654c55044065d7e91732a/20161221214603_585a879bc54c4.tiles/thumb.jpg"
                         width="385" alt="皇家码头新形象开发" title="皇家码头新形象开发"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="皇家码头新形象开发" target="_blank">
                    皇家码头新形象开发 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        1337
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        27
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" title="全景图个人头像" target="_blank">
                            <img src="http://big.justeasy.cn/avatar/201612/251874_585f21f347389_150.jpg" alt="全景个人头像"
                                 title="全景个人头像">
                        </a>
                    </div>
                    <a href="#"
                       title="佰锐设计工作室 危清文                                                                                         "
                       class="name fl" target="_blank">
                        佰锐设计工作室 危清文 </a>
                </div>
            </div>
        </li>
        <li class="no-margin">
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20161224/e20aaaae8375c221ad00556c82121838/20161224095236_585dd4e4c97cf.tiles/thumb.jpg"
                         width="385" alt="大明瀚泽苑" title="大明瀚泽苑"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" title="大明瀚泽苑" target="_blank">
                    大明瀚泽苑 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        2211
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        30
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="javascript:void(0);" title="全景图个人头像">
                            <img src="http://q.qlogo.cn/qqapp/100281053/5E6E8208F591DB359FCE11BC9D32BE4A/100"
                                 alt="全景个人头像" title="全景个人头像">
                        </a></div>
                    <div class="name fl" style="color:#999;">LHQ</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="index-title green">
    <span style="left:33%;">摄影作品</span>
</div>
<div class="menu m green-active">
    <ul class="m-left m_left3">
        <li class="active">精品推荐</li>
        <li>最新作品</li>
    </ul>
    <ul class="submenu submenu3">
        <li value="636">
            <a href="javascript:void(0);">航拍</a>
        </li>
        <li value="637">
            <a href="javascript:void(0);">校园</a>
        </li>
        <li value="638">
            <a href="javascript:void(0);">旅游景点</a>
        </li>
        <li value="639">
            <a href="javascript:void(0);">城市</a>
        </li>
        <li value="640">
            <a href="javascript:void(0);">商业空间</a>
        </li>
        <li value="641">
            <a href="javascript:void(0);">其他</a>
        </li>
    </ul>
    <div class="more">
        <a href="javascript:void(0);" onclick="gotoUrl(3);">
            更多 >
        </a>
    </div>
</div>
<div class="picture m">
    <ul id="vr3">
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20170111/60da1f8e1db067e772875908879380fb/20170111171048_5875f698ed1a4.tiles/thumb.jpg"
                         width="385" alt="粶鼎记米线" title="粶鼎记米线"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" target="_blank">
                    粶鼎记米线 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        144
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        1
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="javascript:void(0);">
                            <img src="http://res1.justeasy.cn/images/defaulthead.jpg" alt="全景个人头像" title="全景个人头像">
                        </a></div>
                    <div class="name fl" style="color:#999;">cancan0526</div>
                </div>
            </div>
        </li>
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20170111/ee128cf6ac2fbd651b1f55515736f03e/20170111140748_5875cbb4b1223.tiles/thumb.jpg"
                         width="385" alt="成都森小花多肉植物DIY店" title="成都森小花多肉植物DIY店"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" target="_blank">
                    成都森小花多肉植物DIY店 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        845
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        39
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" target="_blank">
                            <img src="http://q.qlogo.cn/qqapp/100281053/0A5BAA193C2400F2A7811C747705C9AF/100"
                                 alt="全景个人头像" title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" class="name fl" target="_blank">
                        成都视网 </a>
                </div>
            </div>
        </li>
        <li class="no-margin">
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20170111/685795bfa1d133388cb3fd5e6894407b/20170111093455_58758bbfd1ba5.tiles/thumb.jpg"
                         width="385" alt="森林" title="森林"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" target="_blank">
                    森林 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        63
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        0
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="javascript:void(0);">
                            <img src="http://res1.justeasy.cn/images/defaulthead.jpg" alt="全景个人头像" title="全景个人头像">
                        </a></div>
                    <div class="name fl" style="color:#999;">a3568233</div>
                </div>
            </div>
        </li>
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20161227/ee128cf6ac2fbd651b1f55515736f03e/20161227140309_5862041d9ced7.tiles/thumb.jpg"
                         width="385" alt="巴顿激战" title="巴顿激战"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" target="_blank">
                    巴顿激战 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        676
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        6
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" target="_blank">
                            <img src="http://q.qlogo.cn/qqapp/100281053/0A5BAA193C2400F2A7811C747705C9AF/100"
                                 alt="全景个人头像" title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" class="name fl" target="_blank">
                        成都视网 </a>
                </div>
            </div>
        </li>
        <li>
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20161227/ee128cf6ac2fbd651b1f55515736f03e/20161227100807_5861cd077025c.tiles/thumb.jpg"
                         width="385" alt="吾道国际跆拳道馆" title="吾道国际跆拳道馆"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" target="_blank">
                    吾道国际跆拳道馆 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        542
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        13
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" target="_blank">
                            <img src="http://q.qlogo.cn/qqapp/100281053/0A5BAA193C2400F2A7811C747705C9AF/100"
                                 alt="全景个人头像" title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" class="name fl" target="_blank">
                        成都视网 </a>
                </div>
            </div>
        </li>
        <li class="no-margin">
            <div class="pic">
                <a href="#" target="_blank">
                    <img src="http://small.justeasy.cn/pano/20161226/ee128cf6ac2fbd651b1f55515736f03e/20161226150324_5860c0bc5b776.tiles/thumb.jpg"
                         width="385" alt="梦田都市农场" title="梦田都市农场"/>
                </a>
            </div>
            <h3 class="ellipsis">
                <a href="#" target="_blank">
                    梦田都市农场 </a>
            </h3>
            <div class="details">
                <ul>
                    <li>
                        <i class="fa fa-eye"></i>
                        1221
                    </li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                        22
                    </li>
                </ul>
            </div>
            <div class="pic-bottom">
                <div class="left">
                    <div class="photo fl">
                        <a href="#" target="_blank">
                            <img src="http://q.qlogo.cn/qqapp/100281053/0A5BAA193C2400F2A7811C747705C9AF/100"
                                 alt="全景个人头像" title="全景个人头像">
                        </a>
                    </div>
                    <a href="#" class="name fl" target="_blank">
                        成都视网 </a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="index-title blue1">
    <span>全景作者</span>
</div>
<div class="menu m blue1-active">
    <ul class="m-left m_jigou">
        <li value="618" class="active">合作机构</li>
        <li value="598">设计师</li>
        <li value="599">摄影师</li>
    </ul>
    <div class="more">
        <a href="#" target="_blank">
            更多 >
        </a>
    </div>
</div>
<div class="designer m">
    <ul id="jigou">
        <li class="list ">
            <img src="http://small.justeasy.cn/mall/201610/20161031101728_5816a9b826587.png" width="345" height="180"
                 title="全景"/></li>
        <li class="list ">
            <a href="http://www.hfxcool.com" target="_blank"><img
                    src="http://small.justeasy.cn/mall/201611/20161102114133_5819606d38733.jpg" width="345" height="180"
                    title="极酷科技"/></a></li>
        <li class="list no-margin">
            <a href="http://www.jianzhusheying.com" target="_blank"><img
                    src="http://small.justeasy.cn/mall/201610/20161031100312_5816a66092c27.jpg" width="345" height="180"
                    title="猎影文化"/></a></li>
        <li class="list ">
            <a href="http://user.qzone.qq.com/2601449606/4" target="_blank"><img
                    src="http://small.justeasy.cn/mall/201610/20161031100631_5816a7277f522.png" width="345" height="180"
                    title="V8"/></a></li>
        <li class="list ">
            <a href="http://www.senlincg.com" target="_blank"><img
                    src="http://small.justeasy.cn/mall/201611/20161108113503_582147e799fbf.jpg" width="345" height="180"
                    title="株洲森林表现"/></a></li>
        <li class="list no-margin">
            <a href="http://vr.justeasy.cn/designer/513319.html" target="_blank"><img
                    src="http://small.justeasy.cn/mall/201610/20161031100338_5816a67ac991b.jpg" width="345" height="180"
                    title="伍馬空间"/></a></li>
    </ul>
</div>
<div class="footer-wrapper">
    <div class="footer">
        <div class="logo fl">
        </div>
        <div class="foot-left fl">
            <ul>
                <li>
                    <a href="#">
                        全景效果图
                    </a>
                </li>
                <li>
                    <a href="#">
                        VR资讯
                    </a>
                </li>
                <li>
                    <a href="#">
                        全景图设计案例
                    </a>
                </li>
                <li>
                    <a href="#">
                        关于我们
                    </a>
                </li>
                <li>
                    <a href="#">
                        摄影作品
                    </a>
                </li>
                <li>
                    <a href="#">
                        网站地图
                    </a>
                </li>
                <li>
                    <a href="#">
                        联系我们
                    </a>
                </li>
            </ul>
        </div>
        <div class="foot-middle fl">
            <h3>商务合作热线：</h3>
            <div class="tel">
                客服电话&amp;QQ: <span>123-456-7890</span><br>
                官方全景VR交流QQ群1: 12345678910(已满)<br>
                官方全景VR交流QQ群2: 12345678910(已满)<br>
                官方全景VR交流QQ群3: 12345678910<br>
                官方咨询QQ: 12345678910
            </div>
        </div>
    </div>
    <div class="footer-copy">
        Copyright @2014-2016 惟锐科技 浙ICP15033916号
    </div>
</div>

<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'panorama/lib/jquery_2_2_4.min.js' %}"><\/script>')</script>
<script type="text/javascript">
    // 最新签到上下滚动列表
    (function ($) {
        $(".header-links").hover(function () {

            $(this).find("i").removeClass('fa-angle-down').addClass('fa-angle-up');
        }, function () {
            $(this).find("i").removeClass('fa-angle-up').addClass('fa-angle-down');
        });

    })(jQuery);

    $("#actives li").eq(0).addClass('active').siblings('li').removeClass('active');
</script>
</body>
</html>