
#hot-title {
    position: absolute;
    color: #fff;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    z-index: 1;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

#play-btn {
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 10;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    display: none;
}

#play-btn:hover {
    cursor: pointer;
}

#loading {
    position: absolute;
    margin: auto;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

#loading.show {
    opacity: 1;
}

#loading > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#loading > div:nth-child(2) {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

#loading > div div {
    width: 10px;
    height: 10px;
    background-color: #3E89E3;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: play .8s infinite ease-in-out;
    animation: play .8s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#loading > div div:nth-child(1) {
    top: 0;
    left: 0;
}

#loading > div div:nth-child(2) {
    top: 0;
    right: 0;
}

#loading > div div:nth-child(3) {
    right: 0;
    bottom: 0;
}

#loading > div div:nth-child(4) {
    left: 0;
    bottom: 0;
}

#loading > div:nth-child(2) div:nth-child(1) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

#loading > div:nth-child(1) div:nth-child(2) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

#loading > div:nth-child(2) div:nth-child(2) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

#loading > div:nth-child(1) div:nth-child(3) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

#loading > div:nth-child(2) div:nth-child(3) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

#loading > div:nth-child(1) div:nth-child(4) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

#loading > div:nth-child(2) div:nth-child(4) {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

@-webkit-keyframes play {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes play {
    0%, 80%, 100% {
        transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
    }
}

#scene-canvas {
    z-index: 1;
    opacity: 0;
    background-color: #000;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    cursor: move;
}

#scene-canvas.show {
    opacity: 1;
}

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 10;
    font-size: 16px;
    color: #666666;
    min-width: 200px;
    display: none;
}

.dialog .header {
    height: 40px;
}

.dialog .title {
    font-size: 16px;
    font-weight: normal;
    margin-left: 15px;
    height: 100%;
    line-height: 40px;
    float: left;
}

.dialog .close-btn {
    font-size: 22px;
    font-style: normal;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
    float: right;
    width: 40px;
    text-align: center;
}

.dialog .body {
    position: absolute;
    top: 40px;
    right: 10%;
    bottom: 30px;
    left: 10%;
    width: 80%;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    overflow: auto;
}

.dialog .footer {
    height: 30px;
    bottom: 0;
    text-align: center;
    color: #999999;
    font-size: 16px;
}

.dialog.alert {
    position: absolute;
    width: 340px;
    height: 170px;
}