
* {
    margin: 0;
    padding: 0;

}

body, html {
    width: 100%;
    height: 100%;
    background-color: #000;

}

body {
    overflow: hidden;
    position: relative;
    font-family: "Microsoft YaHei", "SimSun", "Microsoft JhengHei", "SimHei", "YouYuan", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    display: none;
    cursor: move;
}

.no-cursor {
    cursor: none;
}

#operate-panel {
    font-size: 10px;
    position: absolute;
    left: 90px;
    top: 10px;
    background-color: #fff;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    /*display: none;*/
}

#display {
    width: 150px;
    height: 15px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#delta {
    width: 30px;
    height: 15px;
    line-height: 20px;
    border: 1px solid red;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#delta[readonly] {
    border-color: black;
}

button {
    font-size: 10px;
    height: 20px;
}

#picker span {
    background-color: #fff;
    color: #000;
    padding: 3px;
    border: 1px solid rgba(255, 255, 255, 0);
}

#nav {
    width: 900px;
    left: 50%;
    margin-left: -450px;
    bottom: -170px;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    -moz-transition: 0.3s linear;
    -webkit-transition: bottom 0.3s linear;
    transition: bottom 0.3s linear;
    background-color: rgba(31, 31, 31, 0.7);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0 30px;
    display: none;
}

#nav.show {
    bottom: 10px;
}

#nav.mobile-show {
    bottom: 0;
}

#miniNav {
    width: 120px;
    height: 40px;
    left: 50%;
    margin-left: -60px;
    bottom: -50px;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    -moz-transition: 0.2s linear;
    -webkit-transition: bottom 0.2s linear;
    transition: bottom 0.2s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#miniNav.show {
    bottom: 0;
}

#miniUp, #miniDown {
    width: 20px;
    height: 30px;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 30px;
    /*background-size: auto 70%;*/
    color: #fff;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#miniUp {
    left: 0;
}

#miniDown {
    right: 0;
}

#showNav {
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    background: url('../img/icon/arrow_top.png') rgba(0, 0, 0, 0.5) center center no-repeat;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#scene-panel {
    /*width: 100%;*/
    height: 95px;
    overflow: hidden;
    margin: 18px auto 0;
}

#opera-panel-PC {
    width: 168px;
    height: 36px;
    margin: 12px auto 10px;
}

.opera-ele {
    display: inline-block;
}

#opera-panel-PC .opeBtn {
    width: 36px;
    height: 36px;
    background-color: #717171;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    float: left;
    margin: 0 10px;
}

#opera-panel-PC .fullBtn {
    background: url('../img/icon/qp.png') #717171 8px 8px no-repeat;
}

#opera-panel-PC .fullBtn:hover {
    background: url('../img/icon/qp.png') #646464 8px 8px no-repeat;
}

#opera-panel-PC .unfullBtn {
    background: url('../img/icon/bp.png') #717171 8px 8px no-repeat;
}

#opera-panel-PC .unfullBtn:hover {
    background: url('../img/icon/bp.png') #646464 8px 8px no-repeat;
}

#opera-panel-PC .infoBtn {
    background: url('../img/icon/detail.png') #717171 8px 8px no-repeat;
}

#opera-panel-PC .infoBtn:hover {
    background: url('../img/icon/detail.png') #646464 8px 8px no-repeat;
}

#opera-panel-PC .hideBtn {
    background: url('../img/icon/arrow.png') #868686 8px 8px no-repeat;
}

#opera-panel-PC .hideBtn:hover {
    background: url('../img/icon/arrow.png') #646464 8px 8px no-repeat;
}

#opera-panel-mobile {
    width: 100%;
    height: 36px;
    margin: 0 auto 14px;
    position: relative;
    display: none;
}

#opera-panel-mobile .opeBtn {
    position: absolute;
    width: 52px;
    height: 52px;
    margin-left: -26px;
    float: left;
}

#opera-panel-mobile #walk-mode {
    left: 8%;
    background: url('../img/icon/mobile_walk.png') center center no-repeat;
    background-size: 60%;

}

#vr-open {
    left: 36%;
    background: url('../img/icon/mobile_VR.png') center center no-repeat;
    background-size: 60%;
}

#opera-panel-mobile .infoBtn {
    left: 64%;
    background: url('../img/icon/mobile_info.png') center center no-repeat;
    background-size: 60%;
}

#opera-panel-mobile .hideBtn {
    left: 92%;
    background: url('../img/icon/mobile_hide.png') center center no-repeat;
    background-size: 40%;
}

/* landscape */
@media screen and (orientation: landscape) {
    #opera-panel-mobile #walk-mode {
        left: 50px;
        background: url('../img/icon/mobile_walk.png') center center no-repeat;
        background-size: 60%;

    }

    #vr-open {
        left: 140px;
        background: url('../img/icon/mobile_VR.png') center center no-repeat;
        background-size: 60%;
    }

    #opera-panel-mobile .infoBtn {
        left: 230px;
        background: url('../img/icon/mobile_info.png') center center no-repeat;
        background-size: 60%;
    }

    #opera-panel-mobile .hideBtn {
        right: 35px;
        background: url('../img/icon/mobile_hide.png') center center no-repeat;
        background-size: 40%;
    }
}

#vr-close {
    position: fixed;
    width: 60px;
    top: 5%;
    z-index: 5;
    left: 50%;
    margin-left: -30px;
    display: none;
}

#vrSetting {
    position: fixed;
    width: 60px;
    bottom: 5%;
    z-index: 5;
    left: 50%;
    margin-left: -30px;
    display: none;
}

#rotateMobile {
    position: fixed;
    width: 130px;
    height: 130px;
    left: 50%;
    margin-left: -65px;
    top: 20%;
    z-index: 5;
    background-image: url("../img/rotateMobile.jpg");
    background-size: 100%;
    display: none;
}

#up-btn, #down-btn {
    width: 10px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: 25px;
    text-align: center;
    /*background-size: auto 70%;*/
    color: #fff;
    z-index: 1;
}

.tab:hover, #up-btn:hover, #down-btn:hover {
    cursor: pointer;
}

#up-btn {
    left: 10px;
    background: url("../img/icon/arrow_left_nor.png") no-repeat center center;
}

#up-btn:hover {
    background: url("../img/icon/arrow_left_hov.png") no-repeat center center;
}

#down-btn {
    right: 10px;
    background: url("../img/icon/arrow_right_nor.png") no-repeat center center;
}

#down-btn:hover {
    right: 10px;
    background: url("../img/icon/arrow_right_hov.png") no-repeat center center;
}

#gallery {
    width: 100%;
    height: 130px;
    overflow-x: auto;
    overflow-y: hidden;
}

#gallery ul {
    width: 10000px;
}

#gallery li {
    border: 2px solid rgba(255, 255, 255, 0);
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    height: 90px;
    width: 160px;
    list-style: none;
}

#gallery li span {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 18px;
    line-height: 18px;
    width: 100%;
    /*text-align: center;*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 12px;
    background-color: rgba(31, 31, 31, 0.6);
}

#gallery li.active {
    border: 2px solid rgba(255, 255, 255, 1);
}

#gallery li.active span, #gallery li:hover span {
    display: block;
}

#gallery ul img {
    width: 160px;
    height: 90px;
}

.opeBtn.active, .opeBtn:active {
    /*border-width: 1px 0 0 1px;*/
    /*padding: 2px 3px;*/
    /*background-color: #999;*/
    background-color: #fff;
    color: #000;
}

.btn {
    margin: 2px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    vertical-align: middle;
    padding: 1px 4px;
    text-align: center;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #000;
    outline: none;
    cursor: pointer;
    background-color: #d4d4d4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: #f7f7f7;
}

.btn.active, .btn:active {
    border-width: 1px 0 0 1px;
    padding: 2px 2px 0 6px;
    background-color: #999;
}

.btn.add-btn {
    background-color: #30cc30;
}

.btn.del-btn {
    background-color: red;
}

.cross {
    z-index: 1000;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    position: fixed;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

#cross {
    left: 50%;
    display: none;
}

#double-cross {
    display: none;
}

#double-cross .cross:nth-child(1) {
    left: 25%;
}

#double-cross .cross:nth-child(2) {
    left: 75%;
}

#seller-logo {
    width: 60px;
    height: 60px;
}

.dialog.seller-info .body {
    width: 80%;
    height: 327px;
    margin-left: 10%;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
    padding-bottom:10px;
}

.dialog.seller-info table {
    text-align: left;
    font-size: 18px;
    color: #444444;
    margin-top: 50px;
}

.dialog.seller-info th {
    width: 60px;
    vertical-align: top;
    font-weight: normal;
}
.dialog .footer{
    position:absolute;
    width:100%;
}
@media screen and (max-width: 500px) {
    .dialog.seller-info {
        width: 95% !important;
        position:absolute;
        top:15%;
        padding-bottom:70px;
        height:auto;
    }

    .dialog.seller-info .body {
        height: auto;
    }
    .dialog.seller-info table {
        margin-top:30px;
    }
}